# Default code owners unless overridden below
* @vacs-project/admin

# Explicitly specify code owners for GitHub config, such as workflows or CODEOWNERS, and other relevant files
/.github/ @vacs-project/admin
/docs/ @vacs-project/maintainers
LICENSE* @vacs-project/admin
README.md @vacs-project/maintainers
CONTRIBUTING.md @vacs-project/maintainers

# Dataset owners
/dataset/EDGG/ @vacs-project/dataset-maintainers-edgg
/dataset/EDMM/ @vacs-project/dataset-maintainers-edmm
/dataset/EDWW/ @vacs-project/dataset-maintainers-edww
/dataset/EDXX/ @vacs-project/dataset-maintainers-edgg @vacs-project/dataset-maintainers-edmm @vacs-project/dataset-maintainers-edww
/dataset/EE/ @vacs-project/dataset-maintainers-ee
/dataset/EF/ @vacs-project/dataset-maintainers-ef
/dataset/EG/ @vacs-project/dataset-maintainers-eg
/dataset/EI/ @vacs-project/dataset-maintainers-ei
/dataset/EK/ @vacs-project/dataset-maintainers-ek
/dataset/EN/ @vacs-project/dataset-maintainers-en
/dataset/EP/ @vacs-project/dataset-maintainers-ep
/dataset/ES/ @vacs-project/dataset-maintainers-es
/dataset/EV/ @vacs-project/dataset-maintainers-ev
/dataset/EY/ @vacs-project/dataset-maintainers-ey
/dataset/FA/ @vacs-project/dataset-maintainers-vatssa
/dataset/GV/ @vacs-project/dataset-maintainers-vatssa
/dataset/LB/ @vacs-project/dataset-maintainers-lb
/dataset/LI/ @vacs-project/dataset-maintainers-li
/dataset/LM/ @vacs-project/dataset-maintainers-lm
/dataset/LO/ @vacs-project/dataset-maintainers-lo
/dataset/LR/ @vacs-project/dataset-maintainers-lr
/dataset/LU/ @vacs-project/dataset-maintainers-lr
/dataset/LZ/ @vacs-project/dataset-maintainers-lz
/dataset/VH/ @vacs-project/dataset-maintainers-vh
/dataset/WS/ @vacs-project/dataset-maintainers-ws
