# Default code owners unless overridden below
* @vacs-project/core-maintainers

# Explicitly specify code owners for GitHub config, such as workflows or CODEOWNERS, and other relevant files
/.github/ @vacs-project/core-maintainers
/docs/ @vacs-project/maintainers
LICENSE* @vacs-project/core-maintainers
README.md @vacs-project/maintainers
CONTRIBUTING.md @vacs-project/maintainers

# Dataset owners
/dataset/ADR/ @vacs-project/dataset-maintainers-adr
/dataset/AFRX/ @vacs-project/dataset-maintainers-afrx
/dataset/CARX/ @vacs-project/dataset-maintainers-vcmc @vacs-project/dataset-maintainers-tncf
/dataset/CZQM/ @vacs-project/dataset-maintainers-czqm
/dataset/DA/ @vacs-project/dataset-maintainers-mag
/dataset/DT/ @vacs-project/dataset-maintainers-mag
/dataset/EB/ @vacs-project/dataset-maintainers-eb
/dataset/EDGG/ @vacs-project/dataset-maintainers-edgg
/dataset/EDMM/ @vacs-project/dataset-maintainers-edmm
/dataset/EDWW/ @vacs-project/dataset-maintainers-edww
/dataset/EDXX/ @vacs-project/dataset-maintainers-edgg @vacs-project/dataset-maintainers-edmm @vacs-project/dataset-maintainers-edww
/dataset/EE/ @vacs-project/dataset-maintainers-ee
/dataset/EF/ @vacs-project/dataset-maintainers-ef
/dataset/EG/ @vacs-project/dataset-maintainers-eg
/dataset/EI/ @vacs-project/dataset-maintainers-ei
/dataset/EK/ @vacs-project/dataset-maintainers-ek
/dataset/EN/ @vacs-project/dataset-maintainers-en
/dataset/EP/ @vacs-project/dataset-maintainers-ep
/dataset/ES/ @vacs-project/dataset-maintainers-es
/dataset/EV/ @vacs-project/dataset-maintainers-ev
/dataset/EY/ @vacs-project/dataset-maintainers-ey
/dataset/FA/ @vacs-project/dataset-maintainers-vatssa
/dataset/FAJO/ @vacs-project/dataset-maintainers-vatssa
/dataset/FB/ @vacs-project/dataset-maintainers-vatssa
/dataset/FH/ @vacs-project/dataset-maintainers-vatssa @vacs-project/dataset-maintainers-eg
/dataset/FIMM/ @vacs-project/dataset-maintainers-vatssa
/dataset/FM/ @vacs-project/dataset-maintainers-vatssa
/dataset/FQ/ @vacs-project/dataset-maintainers-vatssa
/dataset/FS/ @vacs-project/dataset-maintainers-vatssa
/dataset/FV/ @vacs-project/dataset-maintainers-vatssa
/dataset/FY/ @vacs-project/dataset-maintainers-vatssa
/dataset/GM/ @vacs-project/dataset-maintainers-mag
/dataset/GV/ @vacs-project/dataset-maintainers-vatssa
/dataset/KHLJ/ @vacs-project/dataset-maintainers-khlj
/dataset/KZWY/ @vacs-project/dataset-maintainers-kzwy
/dataset/LA/ @vacs-project/dataset-maintainers-adr
/dataset/LB/ @vacs-project/dataset-maintainers-lb
/dataset/LD/ @vacs-project/dataset-maintainers-adr
/dataset/LH/ @vacs-project/dataset-maintainers-lh
/dataset/LI/ @vacs-project/dataset-maintainers-li
/dataset/LJ/ @vacs-project/dataset-maintainers-adr
/dataset/LK/ @vacs-project/dataset-maintainers-lk
/dataset/LM/ @vacs-project/dataset-maintainers-lm
/dataset/LO/ @vacs-project/dataset-maintainers-lo
/dataset/LPPC/ @vacs-project/dataset-maintainers-lppc
/dataset/LQ/ @vacs-project/dataset-maintainers-adr
/dataset/LR/ @vacs-project/dataset-maintainers-lr
/dataset/LU/ @vacs-project/dataset-maintainers-lr
/dataset/LW/ @vacs-project/dataset-maintainers-adr
/dataset/LY/ @vacs-project/dataset-maintainers-adr
/dataset/LZ/ @vacs-project/dataset-maintainers-lz
/dataset/MD/ @vacs-project/dataset-maintainers-vcmc
/dataset/MT/ @vacs-project/dataset-maintainers-vcmc
/dataset/NAT/ @vacs-project/dataset-maintainers-nat
/dataset/OM/ @vacs-project/dataset-maintainers-arb
/dataset/OT/ @vacs-project/dataset-maintainers-arb
/dataset/RJ/ @vacs-project/dataset-maintainers-rjjj
/dataset/TN/ @vacs-project/dataset-maintainers-tncf
/dataset/TQ/ @vacs-project/dataset-maintainers-tncf
/dataset/UL/ @vacs-project/dataset-maintainers-ul
/dataset/VH/ @vacs-project/dataset-maintainers-vh
/dataset/WS/ @vacs-project/dataset-maintainers-ws
